<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <display-name>Time tracker</display-name>
    <resource-ref>
        <description>
        </description>
        <res-ref-name>
            jdbc/mydb
        </res-ref-name>
        <res-type>
            javax.sql.DataSource
        </res-type>
        <res-auth>
            Container
        </res-auth>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/webapp/error.jsp</location>
    </error-page>
</web-app>
